<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.makbeard.logoped">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TalePlayer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_tale_player"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TaleCreatingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ListChildActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TaleChooserActivity"
            android:label="Выберите сказку"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TaleReadPickActivity"
            android:parentActivityName=".TaleTextActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TaleTextActivity"
            android:parentActivityName=".TaleChooserActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>